{{- $logo := "" -}}
{{- $logo_dark := "" -}}
{{- if .Site.Params.header.navbar.logo -}}
  {{- $logo = .Site.Params.header.navbar.logo.light -}}
  {{- $logo_dark = .Site.Params.header.navbar.logo.dark -}}
{{- end -}}

{{- $lab_logo := "" -}}
{{- $lab_logo_dark := "" -}}
{{- if .Site.Params.header.navbar.lab_logo -}}
  {{- $lab_logo = .Site.Params.header.navbar.lab_logo.light -}}
  {{- $lab_logo_dark = .Site.Params.header.navbar.lab_logo.dark -}}
{{- end -}}

{{- $org_name_en := .Site.Params.marketing.seo.org_name_en -}}
{{- $org_name_short := .Site.Params.marketing.seo.org_name_short -}}

<a class="navbar-brand" href="{{ "/" | relLangURL }}">
  {{- if $logo -}}
    <img src="{{ $logo | relURL }}" alt="{{ .Site.Title }}" class="navbar-brand-logo">
  {{- end -}}
  
  <div class="org-names">
    {{- if $org_name_en -}}
      <div class="org-name-en">{{ $org_name_en }}</div>
    {{- end -}}
    {{- if $org_name_short -}}
      <div class="org-name-short">{{ $org_name_short }}</div>
    {{- end -}}
  </div>
  
  {{- if $lab_logo -}}
    <img src="{{ $lab_logo | relURL }}" alt="Lab Logo" class="navbar-brand-lab-logo">
  {{- end -}}
</a> 